@{
    ViewData["Title"] = "Alarm Dashboard";
    Layout = "_LayoutNew";
}
<link href="~/v2.0/event/compliance/compliancedahboard.css" rel="stylesheet" />
<script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

<div class="main-box">
    <div class="header-image">
        <div class="energy-header">
            <div class="navigation-box">
                <div class="stepper-wrapper">
                    <div class="stepper-item">
                        <div class="step-counter active">Hot <span class="material-symbols-outlined" id="check">check_circle</span></div>
                    </div>
                    <div class="stepper-item">
                        <a href="#" style="text-decoration: none;"><div class="step-counter warm">Warm</div></a>
                    </div>
                    <div class="stepper-item">
                        <a href="#" style="text-decoration: none;"><div class="step-counter cold">Cold</div></a>
                    </div>
                </div>
            </div>
            <div class="report">
                <a href="#"><button class="report-button">Trends & Reports</button></a>
            </div>
        </div>
    </div>
    <div class="content-area">
        <div class="row1">
            <div class="row1_a">
                <div class="a_header">
                    <div class="icon-h">
                        <a href="#" style="text-decoration: none;"><img src="~/v2.0/common/images/Icons/2.png" alt="" class="icon"></a>
                        <div class="img1-button">Compliance</div>
                    </div>
                </div>
                <div class="compliance">
                    <div class="compliance1">
                        <div class="chart-containerGuest" id="compliance1"></div>
                        <div>Overall</div>
                    </div>
                    <div class="compliance2">
                        <div class="chart-containerGuest" id="compliance2"></div>
                        <div>Production Area</div>
                    </div>
                    <div class="compliance3">
                        <div class="chart-containerGuest" id="compliance3"></div>
                        <div>Dining</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row2">
            <div class="row2_a">
                <div class="twoa_header">
                    <div class="icon-h">
                        <a href="#" style="text-decoration: none;"><img src="~/v2.0/common/images/Icons/18.png" alt="" class="icon"></a>
                        <div class="img1-button">Previous Hr & Today</div>
                    </div>
                </div>
                <div class="gcontainer">
                    <div class="eca-container_1">
                        <div id="carouselExampleIndicators1" class="carousel slide" data-bs-theme="dark">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="chart-containerETE1" id="pht1a"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="chart-containerETE2" id="pht1b"></div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="gheading">Overall</div>
                    </div>
                    <div class="eca-container_2">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-theme="dark">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="chart-containerETE1" id="pht2a"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="chart-containerETE2" id="pht2b"></div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="gheading">Production Area</div>
                    </div>
                    <div class="eca-container_3">
                        <div id="carouselExampleIndicators3" class="carousel slide" data-bs-theme="dark">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="chart-containerETE1" id="pht3a"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="chart-containerETE2" id="pht3a"></div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="gheading">Dining</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row3">
            <div class="row3_a">
                <div class="a_header">
                    <div class="icon-h">
                        <a href="#" style="text-decoration: none;"><img src="~/v2.0/common/images/Icons/2.png" alt="" class="icon"></a>
                        <div class="img1-button">Ops Schedule & Non Ops Schedule</div>
                    </div>
                </div>
                <div class="OsContainer">
                    <div class="OsContainer1">
                        <div class="chart-containerGuest" id="OsContainera"></div>
                        <div>Employee & Guest</div>
                    </div>
                    <div class="OsContainer2">
                        <div class="chart-containerGuest" id="OsContainerb"></div>
                        <div>Production Area</div>
                    </div>
                    <div class="OsContainer3">
                        <div class="chart-containerGuest" id="OsContainerc"></div>
                        <div>Dining</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row4">
            <div class="row4_a">
                <div class="a_header">
                    <div class="icon-h">
                        <a href="#" style="text-decoration: none;"><img src="~/v2.0/common/images/Icons/2.png" alt="" class="icon"></a>
                        <div class="img1-button">Ops Schedule wise Distribution of Compliance</div>
                    </div>
                </div>
                <div class="osw-cont">
                    <div class="chart-containerOsw" id="osw-gContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/v2.0/event/compliance/compliancedashboard.js"></script>