@{
    ViewData["Title"] = "Live Energy Warm";
    Layout = "_LayoutNew";
}

<link href="~/v2.0/energy/warm/css/warm.css" rel="stylesheet" />
<script src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

<div class="main-box" id="mainBox">
    <div class="header-image">
        <img class="energy-header" style="margin-left:-15.5%" src="~/v2.0/common/images/banner 5.png" alt="">
    </div>

    <div class="navigation-box2">
        <div class="trends-box">
            <div class="box1">
                <button class="trends">Trends</button>
                <div class="trends-nav">
                    <a href="/Energy/Trends_Hot">Hot</a>
                    <a href="/Energy/Trends_Warm" id="first">Warm</a>
                    <a href="/Energy/Trends_Cold">Cold</a>
                </div>
            </div>
            <div class="report">
                <a href="javascript:return false;"><button class="report-button">Reports</button></a>
            </div>
        </div>
        <div class="links-l">
            <a href="javascript:return false;"><span class="material-symbols-outlined filter-button">filter_alt</span></a>
            <a href="javascript:return false;"><span class="material-symbols-outlined calender-button">calendar_month</span></a>
        </div>

    </div>

    <div class="navigation-box">
        <div id="flowBoxes">
            <div class="right active">Mains</div>
            <div class="left right ">HVAC</div>
            <div class="left right">Light</div>
            <div class="left right">Production Area</div>
            <div class="left">EV</div>
        </div>
    </div>

    <div class="content-box">

        <div class="content-box3">

            <div class="consumption-box3">
                <div class="graph-box">
                    <div id="carouselEnergyTrendWarmIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                        </div>
                        <div class="carousel-inner">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEnergyTrendWarmIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselEnergyTrendWarmIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="quick-links">
    <div class="Savings">
        <div class="header1">

            <div class="topic topic2">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Relative-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Relative</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="fixed-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Fixed</button>
                    </li>
                </ul>
            </div>

            <button class="X" id="x">X</button>
        </div>

        <div class="details">
            <div class="details-text text-1">
                <div class="sub-text">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Yesterday
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Last 7 Days
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Last 14 Days
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  This Week (Sun)
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  This Week (Mon)
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Previous Week (Sat - Sun)
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Previous Week (Mon - Sat)
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Month Till Date
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Last 30 Days
                    </div>
                </div>
                <div class="Apply-filters">
                    <img src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
                    <img src="~/v2.0/common/images/Clear Filters.png" alt="" class="store_button qLinks-button">
                </div>
            </div>
            <div class="details-text text-2" style="overflow: hidden;">
                <div id="calender">
                </div>
                <div class="Apply-filters" style="margin-top: 100%;">
                    <img src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
                    <img src="~/v2.0/common/images/Clear Filters.png" alt="" class="store_button qLinks-button">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="filter-box">
    <div class="header1">
        <div class="topic topic2">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Graphs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Assets</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Scale</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ops-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Ops Schedule</button>
                </li>
            </ul>

        </div>
        <button class="X X1" id="x">X</button>
    </div>

    <div class="page1">
        <div class="details-text">
            <div class="form-check form-switch" style="padding-left: 0px;">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Add Graph
            </div>
        </div>

        <div class="Apply-filters">
            <img id="imgApplyFilter" src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
        </div>
    </div>

    <div class="page2">
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Assets
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Mains
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Mains
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  HVAC
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  HAVAC - Cassette 1
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  HAVAC - Cassette 2
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  HAVAC - Cassette 3
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  HAVAC - Cassette 4
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Lights
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Lights - FOH
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Lights - BOH
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Lights - Signage
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Kitchen Assets - Heating
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Makeline
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Momo Steamer
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Holding Cabinet
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Kitchen Assets - Heating
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Fryer
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Refrigeration
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Vertical Chiller 2 Door
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  4 Door Chiller
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Visicoler
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Refrigeration
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Under Counter Chiller 3 Door
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Vertical Freezer
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Chest Freezer
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Kitchen Assets
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Pepsi Machine
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Ice Cube Machine
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  RO
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Kitchen Assets
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Fresh Air A-3 Phase
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Exhaust A-3 Phase
                </div>
            </div>
        </div>
        <div class="details-text">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  EV
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  e-Bikes
                </div>
            </div>
        </div>
        <div class="Apply-filters">
            <img src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
        </div>
    </div>

    <div class="page3">
        <div class="slider1">
            <label for="customRange1" class="form-label"> Energy Consumption (Hourly Actual) </label>
            <input type="range" class="form-range" id="customRange1">
        </div>
        <div class="slider2">
            <label for="customRange1" class="form-label"> Energy Consumption (Hourly Avg) </label>
            <input type="range" class="form-range" id="customRange1">
        </div>
        <div class="Apply-filters">
            <img src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
        </div>
    </div>

    <div class="page4">
        <div class="details-text">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Ops & Non Ops Schedule
            </div>
            <div class="sub-text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>   Crew Setup
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Pre Lunch
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Peak Lunch
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Post Lunch
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Pre Dinner
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Peak Dinner
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  Crew Shutdown
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>  No Operations
                </div>
            </div>
        </div>
        <div class="Apply-filters">
            <img src="~/v2.0/common/images/ApplyFilters.png" alt="" class="store_button qLinks-button">
        </div>
    </div>

</div>

<script>
    var settings = {};
    var events = [];
    var element = document.getElementById('calender');
    caleandar(element, events, settings);
</script>

<script src="~/v2.0/energy/warm/js/warm_liveEnergyConsumption.js"></script>
<script src="~/v2.0/energy/warm/js/warm.js"></script>
