.report-table-div {
    width: 84vw;
    min-height: 60px;
    padding: 20px 30px;
}


th.dt-orderable-asc {
    background: #3c3c3c !important;
    border: 1px solid;
}

th.dt-orderable-asc span {
    color: white;
    font-size: 12px;
}

#ambientreport-body td {
    text-align: center;
    vertical-align: middle;
}

#ambientreport th {
    text-align: left;
    vertical-align: middle;
}
