
@{
    ViewData["Title"] = "Alerts";
}

<style>
    .rcorners2 {
        border-radius: 50%;
        border: 5px solid #73AD21;
        padding: 30px;
        color: #73AD21;
        width: 100px;
        height: 100px;
    }
</style>

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Alerts</span> </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <div class="breadcrumb">
                    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>

                    <span class="breadcrumb-item active">Alerts</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>


</div>

<div class="content">
    <div class="order-2 order-md-1"></div>
    <div class="row">


        <div class="col-xl-5">

            <!-- Basic donut -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">
                        Alerts  Dashboard
                    </h5>

                </div>

                <div class="card-body">
                    <div class="chart-container has-scroll text-center mb-3">
                        <div class="d-inline-block" id="google-3d-exploded"></div>
                    </div>
                </div>
            </div>
            <!-- /basic donut -->

        </div>
        <div class="col-xl-7">

            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">
                        Open Alerts - HVAC
                    </h5>

                </div>


                <div class="card-body">
                    <div class="chart-container has-scroll text-center mb-3">
                        <div class="d-inline-block" id="google-3d-exploded1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">

            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">
                        Open Alerts-Kitchen Assets
                    </h5>

                </div>
                <div class="card-body">
                    <div class="chart-container has-scroll text-center mb-3">
                        <div class="d-inline-block" id="google-3d-exploded2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
