
@{
    ViewData["Title"] = "Override";
}

}


<style>
    .rcorners2 {
        border-radius: 50%;
        border: 5px solid #73AD21;
        padding: 30px;
        color: #73AD21;
        width: 100px;
        height: 100px;
    }
</style>

<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Override</span> </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <div class="breadcrumb">
                    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>

                    <span class="breadcrumb-item active">Override</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>


</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="order-2 order-md-1"></div>

    <div class="row">

        <div class="col-xl-12">
            <!-- Table header styling -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h6 class="title">
                        Override 
                    </h6>


                </div>

                <div class="card-body">

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Previous Hr</th>
                                <th>Today</th>
                                <th>Yesterday</th>
                                <th>Current Week</th>
                                <th>Prev Week</th>
                                <th>Current Month</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No of overrides</td>
                                <td>29</td>
                                <td>31</td>
                                <td>24</td>
                                <td>16</td>
                                <td>7</td>
                                <td>7</td>

                            </tr>
                            <tr>
                                <td>Override Hrs </td>
                                <td>29</td>
                                <td>31</td>
                                <td>24</td>
                                <td>16</td>
                                <td>7</td>
                                <td>7</td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /table header styling -->
        </div>

    </div>

</div>
<!-- /content area -->
